@import "variables";

@mixin mode($name, $backgroundColor, $primaryColor, $defaultBorderRadius) {
  .app-mode-#{$name} .context-menu {
    background-color: #{$backgroundColor};
    border: 1px solid #{$primaryColor};
    border-radius: #{$defaultBorderRadius};
  }
}

@include mode(
                "bright",
                $brightMode-color-background,
                $brightMode-color-primary,
                $default-borderRadius
);

@include mode(
                "dark",
                $darkMode-color-background,
                $darkMode-color-primary,
                $default-borderRadius
);

.app-language-ua {
  .context-menu {
    width: 55vw;
  }
}

.context-menu {
  position: absolute;
  top: $cardVerticalPadding;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 45vw;
  z-index: $zForeground;

  > button {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 16px;
    + button {
      margin-top: 10px;
    }
    > p {
      padding-left: 10px;
    }
  }
}